<!DOCTYPE html>
<html ng-app='TodosApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Using $http Service</title>
  </head>
  <body>
    <h1>Using $http Service</h1>

    <div ng-controller='TodosController as todos'>
      <h3>List of Menu Categories</h3>
      <ul>
        <li ng-repeat=" todo in todos.allTodos">
          (<a href="" ng-click="todos.logTodos(todo.id);">{{ todo.id }}</a>)
          {{ todo.title }}
        </li>
      </ul>
    </div>

  </body>
</html>
